:root {
  --nav-height: 50px;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Garamond, serif;
  padding-top: var(--nav-height);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#homeBody {
  background-image: url(natureImage.jpg);
}

#contactBody {
  background-image: url(natureImage2.jpg);
}

* {
  text-decoration: none;
  box-sizing: inherit;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--nav-height);
  background: black;
  z-index: 9999;
  padding-left: 15px;
  padding-right: 15px;
}

#navdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#navdiv a {
  font-size: 20px;
  color: white;
}

.navbarLinks {
  list-style: none;
  display: inline-block;
  margin: 0 40px;
  font-weight: bold;
}

#nameElement {
  font-weight: 200;
  color: white;
  text-align: center;
  margin: 150px 0;
}

#introduction {
  font-family: courier, monospace;
  font-weight: bold;
  color: white;
  margin: 0 700px 0 25px;
}

#extrainf1 {
  font-family: courier, monospace;
  font-weight: bold;
  color: white;
  margin: 75px 25px 0 700px;
}

#extrainf2 {
  font-family: courier, monospace;
  font-weight: bold;
  color: white;
  margin: 75px 700px 0 25px;
}

#extrainf3 {
  font-family: courier, monospace;
  font-weight: bold;
  color: white;
  margin: 75px 25px 0 700px;
}

#finalLine {
  font-family: courier, monospace;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 125px 250px 50px 250px;
}

.fadeIn {
  margin: 1rem 0;
  transform: translateY(20px);
  opacity: 0;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fadeIn--visible {
  opacity: 1;
  transform: translateY(0);
}

#contactElement {
  font-weight: 200;
  color: white;
  text-align: center;
  margin: 150px 0 100px;
}

#phoneNumber {
  font-size: 32px;
  font-weight: 200;
  color: white;
  text-align: center;
  margin: 0;
}

#eMail {
  font-size: 32px;
  font-weight: 200;
  color: white;
  text-align: center;
  margin-top: 25px;
}
